
.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex h1, a {
	color: var(--clr-2);
}

.flex a {
	padding-inline-end: 1rem;
}

.edit, .delete {
	color: var(--clr-7);
	font-size: clamp(1rem, 2vw, 1.2rem);
	text-decoration: none;
	cursor: pointer;
}

.delete {
	border: none;
	background-color: transparent;
	color: var(--clr-14);
}
